# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Airflow
airflow_home/
airflow.db
airflow/logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Logs
*.log